* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(image1.jpg);
  background-size: auto;
}

.main {
  height: 60px;
  background-color: white;
  background: transparent;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700px;
  color: whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 1px solid #fff;
}

a {
  text-decoration: none;
  background-color: #fff;
  color: #000;
  padding: 8px 24px 8px 24px;
  /* padding: 8px; */
  border-radius: 24px;
}

i {
  padding-left: 30px;
}
.button {
  padding: 8px 24px;
  background-color: white;
  border-radius: 24px;
}

.text {
  color: whitesmoke;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700px;
  height: 350px;
  width: 350px;
}
.text {
  color: #fff;
}
